*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #efefef;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}

.wrapper {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 600px;
  }
  height: 100%;
  margin: 0 auto;
}

header,
section {
  width: 100%;
  float: left;
}
section {
  height: calc(100% - 60px);
  overflow: hidden;
  background: #fff;
}

.content {
  width: 100%;
  height: calc(100% - 60px); 
  background: #ffffff;
  overflow-y: scroll;

  &:before {
    content: '';
    width: 100%;
    padding: .5em 0em;
    background: #fff;
    display: block;
    position: fixed;
  }
  
  @media (all and min-width: 640px) {
    max-width: 600px;
    border: solid 1px #ccc;
    padding: 0 0 4.5em;
    border-top: none;

    &:before {
      width: 69.5%;
      max-width: 598px;
    }
  }

  p, ul, h2 {
    display: block;
    margin: 1em auto;
    width: 96%;
    max-width: 96%;
    @media (all and min-width: 640px) {
      max-width: 70%;
    }
  }

  img {
    display: block;
    border-radius: 10px;
    margin: 2em auto 1.5em;
    width: 96%;
    max-width: 96%;
    @media (all and min-width: 640px) {
      max-width: 70%;
    }
  }

  p {
    text-align: left;
    font-size: 1em;
    line-height: 1.6em;
  }

  h2 {
    color: #4b938f;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 1em;
    text-decoration: underline;
  }

  a {
    color: #4b938f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em; 
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
#index,
#visit,
#donations,
#ceremonies,
#about {
  margin-bottom: 55px;
}

footer {
  width: 100%;
  padding: .5em 0;
  position: fixed;
  background: #4b938f;
  bottom: 0;
  @media (all and min-width: 640px) {
    width: 69.75%;
    max-width: 598px;
  }

  span {
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
  
  span:last-child {
    color: #fff;
    letter-spacing: 1.3;
  }
}

.header-left, 
.header-right {
  display: block;
  float: left;
  padding: .5em;
  
  h1 {
    color: #fff;
    font-size: .8em;
    @media (all and min-width: 400px) {
      font-size: 1em;
    }
    @media (all and min-width: 640px) {
      font-size: 1.2em;
    }
  }
}
.hamburger {
  width: 10%;
  float: left;
  height: 39px;
  padding: 5px 0;
  @media (all and min-width: 400px) {
    height: 48px;
    padding: 10px 0;
  }
  background: #4b938f;
  @media (all and min-width: 640px) {
    display: none;
  }
  span {
    display:block;
    width: 60%;
    padding: .1em 0;
    margin: .3em auto;
    @media (all and min-width: 640px) {
      padding: .15em 0;
      margin: .2em auto;
    }
    background: #514f4f;
  }
}
.header-left {
  width: 50%;
  background: #514f4f;
}

.header-right {
  width: 40%;
  background: #4b938f;
  @media (all and min-width: 640px) {
    width: 50%;
  }

  h1 {
    text-align: right;
  }
}
nav.mobile-menu {
  display: none;

  ul {
    width: 100%;
    li {
      display: inline-block;
      float: left;
      width: 100%;
      border-bottom: solid 1px #efefef;

      &:last-child {
        border-bottom: none;
      }

      a {
        display:block;
        color: #514f4f;
        padding: 1em .5em;
        text-decoration: none;
      }
    }
  }
}
nav.desktop-menu {
  display: none;
  @media (all and min-width: 640px) {
    display: block;
    background: #efefef;
    border-bottom: solid 1px #ccc;
  }
  float: left;
  width: 100%;
  padding: 2em 0 0;

  ul {
    margin: 0em;
    width: 100%;
    max-width: 600px;

    li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      
      

      &.active,
      &:focus {
        background: #ffffff;
        top: 1px;
        position: relative;
        border-top: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #ccc;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        a {
          color: #514f4f;
          text-decoration: underline;
        }
      }

      a {
        display: block;
        padding: 1em 0;
        color: #4b938f;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .85em;
        font-family: 'ProximaNova-Regular';

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}

.directions {
  
  span {
    display: block;
    text-align: center;
    padding: 0 20%;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .map {
    border-radius: 10px;
    width: 60%;
    margin: 1em auto;
  }
}

.icon {
  position: absolute;
  bottom: .5em;
  right: .5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.modal {
  display: none;

  .close {
    position: absolute;
    right: 1em;
    bottom: 1em;
    color: #fff;
  }

  .wrapper {
    width: 96%;
    @media (all and min-width: 640px) { 
      width: 50%;
    }
    max-width: 400px;
    margin: 2em auto;

    img {
      width: 100%;
    }

    a {
      text-decoration: none;
      color: #514f4f;
      
      span {
        font-size: 1em;
        text-align: left;
        padding: 0;
      }

      &:hover {
        text-decoration: none;
      }
      &:visited {
        color: #514f4f;
        text-decoration: none;
      }
    }

    h2 {
      color: #4b938f;
      font-size: 1.2em;
      line-height: 1.5em;
      margin-top: 1em;
      text-decoration: underline;
    }

  }

}

.show {
  display: block;
  position: absolute;
  top: 57px;
  left: 0; 
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .98);
  overflow: hidden;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
  }
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-5px);
  }
}
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0);
  }
  40% {
    -o-transform: translateY(-10px);
  }
  60% {
    -o-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.icon-bounce {
  -webkit-animation: bounce 2s infinite; /* Safari 4+ */
  -moz-animation:    bounce 2s infinite; /* Fx 5+ */
  -o-animation:      bounce 2s infinite; /* Opera 12+ */
  animation:         bounce 2s infinite; /* IE 10+, Fx 29+ */
}


