*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #efefef;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}

.wrapper {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 600px;
  }
  height: 100%;
  margin: 0 auto;
}

header,
section {
  width: 100%;
  float: left;
}
section {
  height: calc(100% - 54px);
  overflow: hidden;
  background: #fff;
}

.content {
  width: 100%;
  height: calc(100% - 54px);
  background: #ffffff;
  overflow: hidden;
  position: relative;

  .scrollable-content {
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 4em;
    overflow: scroll;
  }

  @media (all and min-width: 640px) {
    max-width: 600px;
    border: solid 1px #ccc;
    padding: 0 0 4.5em;
    border-top: none;

    &:before {
      width: 69.5%;
      max-width: 598px;
    }
  }

  p, ul, h2 {
    display: block;
    margin: 1em auto;
    width: 96%;
    max-width: 96%;
    @media (all and min-width: 640px) {
      max-width: 70%;
    }
  }

  img {
    display: block;
    border-radius: 10px;
    margin: 1em auto 1.5em;
    width: 96%;
    max-width: 96%;
    @media (all and min-width: 640px) {
      max-width: 70%;
    }

    &.image-max {
      @media (all and min-width: 640px) {
        max-height: 275px;
      }
    }
  }

  p {
    text-align: left;
    font-size: 1em;
    line-height: 1.6em;
  }

  h2 {
    color: #4b938f;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 1em;
    text-decoration: underline;
  }

  a {
    color: #4b938f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
#index,
#visit,
#donations,
#ceremonies,
#about {
  margin-bottom: 55px;
}

footer {
  width: 100%;
  padding: .5em 0;
  position: fixed;
  background: #4b938f;
  bottom: 0;
  @media (all and min-width: 640px) {
    width: 69.75%;
    max-width: 598px;
  }

  span {
    display: block;
    text-align: center;
    font-size: 1em;
    @media (all and min-width: 640px) {
      font-size: 1.2em;
    }
  }

  span:last-child {
    color: #fff;
    letter-spacing: 1.3;
  }
}

.header-left,
.header-right {
  display: block;
  float: left;
  padding: .5em;

  h1 {
    color: #fff;
    font-size: .8em;
    @media (all and min-width: 400px) {
      font-size: 1em;
    }
    @media (all and min-width: 640px) {
      font-size: 1.2em;
    }
  }
}
.hamburger {
  width: 10%;
  float: left;
  height: 42px;
  padding: 5px 0;
  @media (all and min-width: 400px) {
    height: 48px;
    padding: 10px 0;
  }
  background: #4b938f;
  @media (all and min-width: 640px) {
    display: none;
  }
  span {
    display:block;
    width: 60%;
    padding: .1em 0;
    margin: .3em auto;
    @media (all and min-width: 640px) {
      padding: .15em 0;
      margin: .2em auto;
    }
    background: #514f4f;
  }
}
.header-left {
  width: 50%;
  background: #514f4f;
}

.header-right {
  width: 40%;
  background: #4b938f;
  @media (all and min-width: 640px) {
    width: 50%;
  }

  h1 {
    text-align: right;
  }
}
nav.mobile-menu {
  display: none;

  ul {
    width: 100%;
    li {
      display: inline-block;
      float: left;
      width: 100%;
      border-bottom: solid 1px #ddd;

      &:last-child {
        border-bottom: none;
      }

      a {
        display:block;
        color: #514f4f;
        padding: 1em .5em;
        text-decoration: none;
      }
    }
  }
}
nav.desktop-menu {
  display: none;
  @media (all and min-width: 640px) {
    display: block;
    background: #efefef;
    border-bottom: solid 1px #ccc;
  }
  float: left;
  width: 100%;
  padding: 2em 0 0;

  ul {
    margin: 0em;
    width: 100%;
    max-width: 600px;

    li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;



      &.active,
      &:focus {
        background: #ffffff;
        top: 1px;
        position: relative;
        border-top: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #ccc;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        a {
          color: #514f4f;
          text-decoration: underline;
        }
      }

      a {
        display: block;
        padding: 1em 0;
        color: #4b938f;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .85em;
        font-family: 'ProximaNova-Regular';

        &:hover {
          text-decoration: underline;
        }
      }

    }
  }
}

.directions {

  span {
    display: block;
  }
  .map {
    border-radius: 10px;
    width: 60%;
    margin: 1em auto;
  }
}

.icon {
  display: none;
  @media (all and min-width: 640px) {
    display: block;
  }
  position: absolute;
  bottom: .5em;
  right: .5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.address {
  border-left: solid 5px #4b938f;
  padding: 10px 20px;
  background: #fafafa;

  span {
    display: block;
    color: #4b938f;
  }
}

.modal {
  display: none;

  .close {
    position: absolute;
    right: .5em;
    bottom: .5em;
    color: #4b938f;
    font-size: 2em;
  }

  .wrapper {
    width: 96%;
    @media (all and min-width: 640px) {
      width: 50%;
    }
    max-width: 400px;
    margin: 2em auto;
    padding-bottom: 2em;
    overflow: scroll;

    img {
      width: 100%;
    }

    p {
      line-height: 1.6em;
    }

    a {
      text-decoration: none;
      color: #514f4f;

      span {
        font-size: 1em;
        text-align: left;
        padding: 0;
      }

      &:hover {
        text-decoration: none;
      }
      &:visited {
        color: #514f4f;
        text-decoration: none;
      }
    }

    h2 {
      color: #4b938f;
      font-size: 1.2em;
      line-height: 1.5em;
      margin: .5em 0;
      text-decoration: underline;
    }

  }

}

.show {
  display: block;
  position: absolute;
  top: 42px;
  @media (all and min-width: 640px) {
    top: 54px;
  }
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .98);
  overflow: hidden;
}

.continue-reading {
  color: #4b938f;
  cursor: pointer;
}

.history-modal {
  display: none;


  h2 {
    color: #4b938f;
    margin-bottom: .5em;
    display: inline-block;
  }

  .close {
    position: absolute;
    right: .75em;
    top: -0.5em;
    color: #4b938f;
    font-size: 2em;
  }

  hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin-bottom: 1.5em;

  }
  p {
    margin: .75em .5em;
    line-height: 1.6em;
    font-weight: 400;
  }

  blockquote {
    border-left: solid 5px #4b938f;
    padding-left: 10px;
    margin: .75em 3em .75em 1em;
    line-height: 1.6em;
    font-weight: 400;
    color: #222;
    text-align: justify;
  }

  &.show {
    display: block;
    background-color: rgba(0, 0, 0, .7);

  }

  .history-wrapper {
    position: relative;
    width: 100%;
    @media (all and min-width: 640px) {
      width: 70%;
    }
    margin: 2.25em auto;
    padding: 1em;
    background: #fff;
    height: 100%;

    &:before {
      content: '';
      color: #4b938f;
      font-size: 1.2em;
      text-align: center;
      padding: .5em 0;
      position: absolute;
      right: 0;
      top: -20px;
      width: 80px;
      height: 20px;
      background: #fff;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .scrollable-history {
      position: absolute;
      left: 1em;
      right: 1em;
      top: 2em;
      bottom: 1em;
      overflow: scroll;
    }
  }
}
.icon-container {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 69.75%;
    max-width: 598px;
  }
  background: #fff;
  position: fixed;
  bottom: 54px;

  .inner-container {
    text-align: center;

    .fa {
      display: inline-block;
      margin: 1em .5em;
      color: #4b938f;


      &:before {
        padding-right: .5em;
      }
    }
  }
}

.pay-pal {
  input[type="image"]{
    display: block;
    margin: 0 auto;
  }
}

.about-photo {
  position: relative;
  height: 240px;

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 220px;
  }
}


