<div class="about-photo">
	<img  tabindex="0" src="img/1963-church.jpg" alt="Front Of Church">
	<img  tabindex="0" src="img/front-of-church-cropped.jpg" alt="Front Of Church" class="secondary">
</div>

<h2 tabindex="0">Palapala Ho'omau Congregational Church </h2>

<p tabindex="0">A Brief History</p>

<p tabindex="0">In 1786, French Naval officer and explorer Jean-Francois de la Perouse sailed along the southeast coast of Maui, searching for a place to drop anchor. Passing Kipahulu, he wrote: <a href="#about" class="continue-reading" tabindex="0">Continue Reading</a></p>

<h2 tabindex="0">Palapala Ho'omau Preservation Society</h2>

<p tabindex="0">The mission of the Palapala Ho'omau Preservation Society is to return the church to a vital role in the life of the local community, to preserve the building and maintain the grounds, and to welcome visitors who value its heritage, privacy, and tranquility.</p>
<h2 tabindex="0">Contact Us</h2>

<p tabindex="0" class="address">
  <span>The Palapala Ho'omau Preservation Society</span>
  <span>c/o C. Peters Belsom, Esq.</span>
  <span>547 Wainee Street</span>
  <span>Lahaina, Hawaii 96761</span>
  <br />
  <span><a href="mailto:info@palapalahoomau.org">info@palapalahoomau.org</a></span>
</p>