<div class="loading-cog">
  <i class="fa fa-cog"></i>
</div>
<img tabindex="0" src="img/donate-sign.jpg" alt="Donation Sign">
<p tabindex="0">For 150 years, Palapala Ho'omau Church has provided a sanctuary where residents and visitors may be in solitary peace or gather in grace.</p>

<p tabindex="0">To continue its role in the life of the Kipahulu community and beyond as a place of worship, burials, celebrations, music, and meetings, Palapala Ho'omau requires preservation and maintenance. Donations are accepted to build the endowment to maintain the grounds and graves.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="pay-pal">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="WRS2WRJVVY4TE">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p tabindex="0">Your tax-deductible donation may also be sent to:</p>

<p tabindex="0" class="address">
  <span>The Palapala Ho'omau Preservation Society</span>
  <span>c/o C. Peters Belsom, Esq.</span>
  <span>547 Wainee Street</span>
  <span>Lahaina, Hawaii 96761</span>
  <br />
  <span><a href="mailto:info@palapalahoomau.org">info@palapalahoomau.org</a></span>
</p>

<p tabindex="0">Established in 2012, the <strong>Palapala Ho‘omau Preservation Society</strong>, is a registered 501(c)3 non-profit organization based in the State of Hawaii.</p>

<p tabindex="0">Mahalo for your kokua</p>

<p tabindex="0"><a href="#ceremonies" value="ceremonies">Weddings</a> and other ceremonies and celebrations may be held at the church or on the grounds for a fee covering the cost of opening the church and include a donation for restoration and maintenance.</p>

<footer>
  <span tabindex="0">Ua mau ke ea o Palapala Ho'omau</span>
  <span tabindex="0">Please donate to preserve Palapala Ho'omau</span>
</footer>