<img tabindex="0" src="img/front-of-church-cropped.jpg" alt="Front Of Church">
<p tabindex="0">
Built by Congregational missionaries from Lahaina, Palapala Ho'omau Church is a place of worship and celebration for residents and visitors alike. Its grounds offer eternal rest to the families of the community.
</p>

<div class="icon-container">
	<div class="inner-container">
		<i class="fa fa-map-pin"><a href="#">Visit</a></i>
		<i class="fa fa-facebook-official"><a href="https://www.facebook.com/palapalahoomauchurch" target="_blank">Facebook</a></i>
		<i class="fa fa-cc-paypal"><a href="#donations">Donate</a></i>
	</div>
</div>
<footer>
	<span tabindex="0">E PILI MAU NA POMAIKA'I IA 'OE</span>
	<span tabindex="0">MAY YOU EVER BE BLESSED</span>
</footer>