<!-- Beginning of: Home -->
<div id="index">
  <img src="assets/img/front-of-church-cropped.jpg" alt="Front Of Church">
  <p>
    Built by Congregational missionaries from Lahaina, Palapala Ho'omau Church is a place of worship and celebration for residents and visitors alike. Its grounds offer eternal rest to the families of the community.
  </p>     
</div>
<!-- End of: Home -->

<!-- Beginning of: Visit -->
<div id="visit">
  <img src="assets/img/donate-sign.jpg" alt="Donation Sign">
  <p>Visitors are asked to arrive with reverence for our church and o'hana at their eternal rest.</p>
  
  <p>If the church is open, please walk lightly and do not disturb the furniture and objects there. A few of the graves are barely marked, lease take care not to step on them or any grave. Please also take great care near cliff overlooking the ocean, and do not approach the edge.</p>
  
  <p>These tour companies offer guided visits to the church and grounds:</p>
  
  <ul>
    <li>Company 1</li>
    <li>Company 2</li>
    <li>Company 3</li>
  </ul>

  <p>If you are traveling on your own, you will find Palapala Ho'omau Church 2.x miles past the entrance to Kipahulu National Park, if coming from Hana, or x mile past Laulima Farms stand, if coming from Kaupo. Turn onto the unpaved road on the makai (ocean) side of the road beside the pasture. Follow it to the fork and turn left. There is a small parking area at the end of the drive.</p>
</div>
<!-- End of: Visit -->

<!-- Beginning of: Donations -->
<div id="donations">Donations</div>
<!-- End of: Donations -->

<!-- Beginning of: Ceremonies -->
<div id="ceremonies">
  <img src="assets/img/stained-glass.jpg" alt="Stained Glass">
  <p>Palapala Ho'omau Church is available for weddings and other ceremonies. Please download our wedding information: 
    <a href="/assets/pdf/Palapala-Hoomau-Wedding-Guidelines.pdf" download="Palapala-Hoomau-Wedding-Guidelines.pdf">here</a>.
  </p>
</div>
<!-- End of: Ceremonies -->
<div id="about">About</div>