<img tabindex="0" class="image-max" src="img/phps-interior.jpg" alt="PHPS Interior">
<p tabindex="0">Visitors are asked to arrive with reverence for our church and ohana at their eternal rest.</p>

<p tabindex="0">If the church is open, please walk lightly and do not disturb the furniture and objects there. A few of the graves are barely marked, lease take care not to step on them or any grave. Please also take great care near cliff overlooking the ocean, and do not approach the edge.</p>

<p tabindex="0">These tour companies offer guided visits to the church and grounds</p>

<p tabindex="0">If you are traveling on your own, you will find Palapala Ho'omau Church “eight miles south of Hana just past the 41 mile marker. Turn left at the signs for the church and for Maui Stables. If coming from Kaupo and the south side of the island, look for the signs just past the Laulima Farms stand. Turn onto the unpaved road on the makai (ocean) side of the road beside the pasture. Follow it to the fork and turn left. There is a small parking area at the end of the drive.</p>

<a href="https://www.google.com/maps/place/Palapala+Ho%E2%80%98omau+Congregational+Church/@20.6513929,-156.0574674,822m/data=!3m1!1e3!4m2!3m1!1s0x7954bab0b4fb8093:0x73e083f8911b6283!6m1!1e1" target="blank" class="directions">
  <p class="address">
    <span>Palapala Ho'omau Congregational Church, </span>
    <span>Hana, HI 96713 </span>
  </p>
  <img src="img/google-earth.jpg" class="map">

</a>

<p>Check in on <a href="https://www.facebook.com/palapalahoomauchurch/" target="_blank">Facebook</a>, share your photos and tell us about your visit to Palapala Ho'omau Church.</p>


<footer>
  <span tabindex="0">E Komo Mai</span>
  <span tabindex="0">We welcome you to our serene sanctuary.</span>
</footer>