*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./fonts/ProximaNova-Regular.eot');
  src: url('./fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/ProximaNova-Regular.woff') format('woff'),
       url('./fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('./fonts/ProximaNova-Regular.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  // background-image: url('../../assets/img/background-pattern.jpg');
  background-color: #efefef;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}

.wrapper {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 600px;
  }
  height: 100%;
  margin: 0 auto;
}

header,
section {
  width: 100%;
  float: left;
}

section {
  height: calc(100% - 54px);
  overflow: hidden;
  background: #fff;
}

#content {
  width: 100%;
  height: 100%; 
  background: #ffffff;
  border: solid 1px #ccc;
  @media (all and min-width: 640px) {
    max-width: 600px;
  }
  padding: 2em .5em;
  border-top: none;
  overflow-y: scroll;

  img, p {
    display: block;
    margin: 1em auto;
    max-width: 80%;
  }

  p {
    padding: 0 2em;
    text-align: center;
  }
}
footer {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 600px;
  }
  padding: .5em 0;
  position: absolute;
  background: #4b938f;
  bottom: 0;

  span {
    display: block;
    text-align: center;
  }
}

.header-left, 
.header-right {
  float: left;
  padding: .5em;
  color: #fff;
  font-size: 1.2em;

  span {
    display: block;
  }
}
.hamburger {
  width: 10%;
  float: left;
  height: 57px;
  padding: 17px 0;
  background: #4b938f;
  @media (all and min-width: 640px) {
    display: none;
  }
  span {
    display:block;
    width: 60%;
    padding: .15em 0;
    margin: .2em auto;
    background: #000;
  }
}
.header-left {
  width: 50%;
  background: #514f4f;
}

.header-right {
  width: 40%;
  background: #4b938f;
  @media (all and min-width: 640px) {
    width: 50%;
  }

  span {
    text-align: right;
  }
}
nav.mobile-menu {
  display: none;

  ul {
    width: 100%;
    li {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 1em .5em;
      border-bottom: solid 1px #efefef;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}
nav.desktop-menu {
  display: none;
  @media (all and min-width: 640px) {
    display: block;
    background: #efefef;
    border-bottom: solid 1px #ccc;
  }
  float: left;
  width: 100%;
  padding: 2em 0 0;

  ul {
    margin: 0em;
    width: 100%;
    max-width: 600px;

    li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      padding: 1em 0;
      

      &.active,
      &:focus {
        background: #ffffff;
        top: 1px;
        position: relative;
        border-top: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #ccc;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        a {
          color: #514f4f;
          border-bottom: solid 2px;
          padding: .2em 0;
        }
      }

      a {
        color: #4b938f;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'ProximaNova-Regular';
      }
    }
  }
}
