*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../../assets/fonts/ProximaNova-Regular.eot');
  src: url('../../assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../../assets/fonts/ProximaNova-Regular.svg#desyrelregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  // background-image: url('../../assets/img/background-pattern.jpg');
  background-color: #efefef;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}

.wrapper {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 600px;
  }
  height: 100%;
  margin: 0 auto;
}

header,
section {
  width: 100%;
  float: left;
}

section {
  height: calc(100% - 60px);
  overflow: hidden;
  background: #fff;
}

#content {
  width: 100%;
  height: calc(100% - 60px); 
  background: #ffffff;
  padding: 2em;
  overflow-y: scroll;
  
  @media (all and min-width: 640px) {
    max-width: 600px;
    border: solid 1px #ccc;
    border-top: none;
  }


  img, p, ul {
    display: block;
    margin: 1em auto;
    max-width: 80%;
  }

  p {
    text-align: justify;
    font-size: 1em;
    line-height: 1.3em;
  }

  li {
    list-style: none;
    float: left;
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1em; 
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

footer {
  width: 100%;
  padding: .5em 0;
  position: fixed;
  background: #4b938f;
  bottom: 0;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 600px;
  }

  span {
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
  
  span:last-child {
    color: #fff;
    letter-spacing: 1.3;
  }
}

.header-left, 
.header-right {
  float: left;
  padding: .5em;
  color: #fff;
  font-size: .8em;
  @media (all and min-width: 400px) {
    font-size: 1em;
  }
  @media (all and min-width: 640px) {
    font-size: 1.2em;
  }

  span {
    display: block;
  }
}
.hamburger {
  width: 10%;
  float: left;
  height: 39px;
  padding: 5px 0;
  @media (all and min-width: 400px) {
    height: 48px;
    padding: 10px 0;
  }
  background: #4b938f;
  @media (all and min-width: 640px) {
    display: none;
  }
  span {
    display:block;
    width: 60%;
    padding: .1em 0;
    margin: .3em auto;
    @media (all and min-width: 640px) {
      padding: .15em 0;
      margin: .2em auto;
    }
    background: #514f4f;
  }
}
.header-left {
  width: 50%;
  background: #514f4f;
}

.header-right {
  width: 40%;
  background: #4b938f;
  @media (all and min-width: 640px) {
    width: 50%;
  }

  span {
    text-align: right;
  }
}
nav.mobile-menu {
  display: none;

  ul {
    width: 100%;
    li {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 1em .5em;
      border-bottom: solid 1px #efefef;

      &:last-child {
        border-bottom: none;
      }

      a {
        color: #514f4f;
        text-decoration: none;
      }
    }
  }
}
nav.desktop-menu {
  display: none;
  @media (all and min-width: 640px) {
    display: block;
    background: #efefef;
    border-bottom: solid 1px #ccc;
  }
  float: left;
  width: 100%;
  padding: 2em 0 0;

  ul {
    margin: 0em;
    width: 100%;
    max-width: 600px;

    li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      padding: 1em 0;
      

      &.active,
      &:focus {
        background: #ffffff;
        top: 1px;
        position: relative;
        border-top: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #ccc;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        a {
          color: #514f4f;
          border-bottom: solid 2px;
          padding: .2em 0;
        }
      }

      a {
        color: #4b938f;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .85em;
        font-family: 'ProximaNova-Regular';
      }
    }
  }
}
