*, 
*:before, 
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 960px;
  }
  height: 100%;
  margin: 0 auto;
}

header,
section {
  width: 100%;
  float: left;
}

#content {
  position: absolute;
  top: 0;
  bottom: 54px;
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 960px;
    border-right: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
    border-left: solid 1px #efefef;
  }
  margin: 152px 0 0;
  border-top: none;
  overflow-y: scroll;
}
footer {
  width: 100%;
  @media (all and min-width: 640px) {
    width: 70%;
    max-width: 960px;
  }
  padding: 1em 0;
  position: absolute;
  background: #ddd;
  bottom: 0;

  span {
    display: block;
    text-align: center;
  }
}

div.left, 
div.right {
  float: left;
  padding: .5em;

  span {
    display: block;
  }
}

div.left {
  width: 60%;
  background: #e5e5e5;
  @media (all and min-width: 640px) {
    width: 50%;
  }

  .hamburger {
    width: 10%;
    float: left;
    height: 15px;
    padding: 5px 0 15px;
    margin-right: 10px;
    @media (all and min-width: 640px) {
      display: none;
    }

    span {
      width: 100%;
      padding: .15em 0;
      margin: .2em 0;
      background: #000;
    }
  }
}

div.right {
  width: 40%;
  background: #dddddd;
  @media (all and min-width: 640px) {
    width: 50%;
  }

  span {
    text-align: right;
  }
}
nav.mobile-menu {
  display: none;

  ul {
    width: 100%;
    li {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 1em .5em;
      border-bottom: solid 1px #efefef;

      &:last-child {
        border-bottom: none;
      }
      
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
}
nav.desktop-menu {
  display: none;
  @media (all and min-width: 640px) {
    display: block;
  }
  float: left;
  width: 100%;
  margin: 3.1em 0 0;

  ul {
    margin: 0em;
    width: 100%;
    max-width: 960px;

    li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      padding: 1em 0;

      &.active,
      &:focus {
        border-top: solid 1px #efefef;
          border-right: solid 1px #efefef;
          border-bottom: none;
          border-left: solid 1px #efefef;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
      }

      a {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
