*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  @media (min-width: 640px) {
    .wrapper {
      width: 70%;
      max-width: 960px; } }

header,
section {
  width: 100%;
  float: left; }

#content {
  position: absolute;
  top: 0;
  bottom: 54px;
  width: 100%;
  margin: 152px 0 0;
  border-top: none;
  overflow-y: scroll; }
  @media (min-width: 640px) {
    #content {
      width: 70%;
      max-width: 960px;
      border-right: solid 1px #efefef;
      border-bottom: solid 1px #efefef;
      border-left: solid 1px #efefef; } }
  #content.mobile-menu-open {
    margin: 300px 0 0; }

footer {
  width: 100%;
  padding: 1em 0;
  position: absolute;
  background: #ddd;
  bottom: 0; }
  @media (min-width: 640px) {
    footer {
      width: 70%;
      max-width: 960px; } }
  footer span {
    display: block;
    text-align: center; }

div.left,
div.right {
  float: left;
  padding: .5em; }
  div.left span,
  div.right span {
    display: block; }

div.left {
  width: 60%;
  background: #e5e5e5; }
  @media (min-width: 640px) {
    div.left {
      width: 50%; } }
  div.left .hamburger {
    width: 10%;
    float: left;
    height: 15px;
    padding: 5px 0 15px;
    margin-right: 10px; }
    @media (min-width: 640px) {
      div.left .hamburger {
        display: none; } }
    div.left .hamburger span {
      width: 100%;
      padding: .15em 0;
      margin: .2em 0;
      background: #000; }

div.right {
  width: 40%;
  background: #dddddd; }
  @media (min-width: 640px) {
    div.right {
      width: 50%; } }
  div.right span {
    text-align: right; }

nav.mobile-menu {
  display: none; }
  nav.mobile-menu ul {
    width: 100%; }
    nav.mobile-menu ul li {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 1em .5em;
      border-bottom: solid 1px #efefef; }
      nav.mobile-menu ul li:last-child {
        border-bottom: none; }
      nav.mobile-menu ul li a {
        color: #000;
        text-decoration: none; }

nav.desktop-menu {
  display: none;
  float: left;
  width: 100%;
  margin: 3.1em 0 0; }
  @media (min-width: 640px) {
    nav.desktop-menu {
      display: block; } }
  nav.desktop-menu ul {
    margin: 0em;
    width: 100%;
    max-width: 960px; }
    nav.desktop-menu ul li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      padding: 1em 0; }
      nav.desktop-menu ul li.active, nav.desktop-menu ul li:focus {
        border-top: solid 1px #efefef;
        border-right: solid 1px #efefef;
        border-bottom: none;
        border-left: solid 1px #efefef;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
      nav.desktop-menu ul li a {
        color: #000000;
        text-decoration: none; }
