*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #efefef; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  @media (min-width: 640px) {
    .wrapper {
      width: 70%;
      max-width: 600px; } }

header,
section {
  width: 100%;
  float: left; }

section {
  height: calc(100% - 54px);
  overflow: hidden;
  background: #fff; }

#content {
  width: 100%;
  background: #ffffff;
  padding: 2em .5em;
  border-top: none;
  overflow-y: scroll; }
  @media (min-width: 640px) {
    #content {
      max-width: 600px; } }
  #content img, #content p {
    display: block;
    margin: 1em auto;
    max-width: 80%; }
  #content p {
    padding: 0 2em;
    text-align: center; }

footer {
  width: 100%;
  padding: .5em 0;
  position: absolute;
  background: #4b938f;
  bottom: 0; }
  @media (min-width: 640px) {
    footer {
      width: 70%;
      max-width: 600px; } }
  footer span {
    display: block;
    text-align: center; }

.header-left,
.header-right {
  float: left;
  padding: .5em;
  color: #fff; }
  .header-left span,
  .header-right span {
    display: block; }

.hamburger {
  width: 10%;
  float: left;
  height: 52px;
  padding: 12.5px 0 15px;
  background: #4b938f; }
  @media (min-width: 640px) {
    .hamburger {
      display: none; } }
  .hamburger span {
    display: block;
    width: 60%;
    padding: .15em 0;
    margin: .2em auto;
    background: #000; }

.header-left {
  width: 50%;
  background: #514f4f; }

.header-right {
  width: 40%;
  background: #4b938f; }
  @media (min-width: 640px) {
    .header-right {
      width: 50%; } }
  .header-right span {
    text-align: right; }

nav.mobile-menu {
  display: none; }
  nav.mobile-menu ul {
    width: 100%; }
    nav.mobile-menu ul li {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 1em .5em;
      border-bottom: solid 1px #efefef; }
      nav.mobile-menu ul li:last-child {
        border-bottom: none; }
      nav.mobile-menu ul li a {
        color: #000;
        text-decoration: none; }

nav.desktop-menu {
  display: none;
  float: left;
  width: 100%;
  padding: 2em 0 0; }
  @media (min-width: 640px) {
    nav.desktop-menu {
      display: block;
      background: #efefef; } }
  nav.desktop-menu ul {
    margin: 0em;
    width: 100%;
    max-width: 600px; }
    nav.desktop-menu ul li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      padding: 1em 0; }
      nav.desktop-menu ul li.active, nav.desktop-menu ul li:focus {
        background: #ffffff;
        border-top: solid 1px #ffffff;
        border-right: solid 1px #ffffff;
        border-bottom: none;
        border-left: solid 1px #ffffff;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
        nav.desktop-menu ul li.active a, nav.desktop-menu ul li:focus a {
          color: #514f4f;
          border-bottom: solid 3px;
          padding: .2em 0; }
      nav.desktop-menu ul li a {
        color: #4b938f;
        text-decoration: none; }
