*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../../assets/fonts/ProximaNova-Regular.eot");
  src: url("../../assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype"), url("../../assets/fonts/ProximaNova-Regular.svg#desyrelregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #efefef;
  font-family: 'ProximaNova-Regular';
  font-size: 16px; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto; }
  @media (min-width: 640px) {
    .wrapper {
      width: 70%;
      max-width: 600px; } }

header,
section {
  width: 100%;
  float: left; }

section {
  height: calc(100% - 60px);
  overflow: hidden;
  background: #fff; }

#content {
  width: 100%;
  height: calc(100% - 60px);
  background: #ffffff;
  border: solid 1px #ccc;
  padding: 2em .5em;
  border-top: none;
  overflow-y: scroll; }
  @media (min-width: 640px) {
    #content {
      max-width: 600px; } }
  #content img, #content p {
    display: block;
    margin: 1em auto;
    max-width: 80%; }
  #content p {
    padding: 0 2em;
    text-align: center; }

footer {
  width: 100%;
  padding: .5em 0;
  position: absolute;
  background: #4b938f;
  bottom: 0; }
  @media (min-width: 640px) {
    footer {
      width: 70%;
      max-width: 600px; } }
  footer span {
    display: block;
    text-align: center;
    font-size: 1.2em; }
  footer span:last-child {
    color: #fff;
    letter-spacing: 1.3; }

.header-left,
.header-right {
  float: left;
  padding: .5em;
  color: #fff;
  font-size: 1.2em; }
  .header-left span,
  .header-right span {
    display: block; }

.hamburger {
  width: 10%;
  float: left;
  height: 57px;
  padding: 17px 0;
  background: #4b938f; }
  @media (min-width: 640px) {
    .hamburger {
      display: none; } }
  .hamburger span {
    display: block;
    width: 60%;
    padding: .15em 0;
    margin: .2em auto;
    background: #514f4f; }

.header-left {
  width: 50%;
  background: #514f4f; }

.header-right {
  width: 40%;
  background: #4b938f; }
  @media (min-width: 640px) {
    .header-right {
      width: 50%; } }
  .header-right span {
    text-align: right; }

nav.mobile-menu {
  display: none; }
  nav.mobile-menu ul {
    width: 100%; }
    nav.mobile-menu ul li {
      display: inline-block;
      float: left;
      width: 100%;
      padding: 1em .5em;
      border-bottom: solid 1px #efefef; }
      nav.mobile-menu ul li:last-child {
        border-bottom: none; }
      nav.mobile-menu ul li a {
        color: #514f4f;
        text-decoration: none; }

nav.desktop-menu {
  display: none;
  float: left;
  width: 100%;
  padding: 2em 0 0; }
  @media (min-width: 640px) {
    nav.desktop-menu {
      display: block;
      background: #efefef;
      border-bottom: solid 1px #ccc; } }
  nav.desktop-menu ul {
    margin: 0em;
    width: 100%;
    max-width: 600px; }
    nav.desktop-menu ul li {
      display: inline-block;
      float: left;
      width: 20%;
      text-align: center;
      border-bottom: solid 1px #efefef;
      padding: 1em 0; }
      nav.desktop-menu ul li.active, nav.desktop-menu ul li:focus {
        background: #ffffff;
        top: 1px;
        position: relative;
        border-top: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #ccc;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px; }
        nav.desktop-menu ul li.active a, nav.desktop-menu ul li:focus a {
          color: #514f4f;
          border-bottom: solid 2px;
          padding: .2em 0; }
      nav.desktop-menu ul li a {
        color: #4b938f;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .85em;
        font-family: 'ProximaNova-Regular'; }
